/* ****** Reset CSS ***********/
:root {
    --main-font: sans-serif;
    --font-size: 16px;
    --main-color: #f7df1e;
    --second-color: #222;
    --main-modal-color: rgba(247, 222, 30, 0.85);
    --second-modal-color: rgba(34, 34, 34, 0.85);
    --container-width: 1200px;
}

html {
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior: smooth;
}

[id]{
    scroll-margin-top: 10ex;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
    /* si algo sobresale y genera desplazamiento en el eje  x esto lo oculta y no genera la barra */
}

img {
    max-width: 100%;
    height: auto;
}

/* ************************** Menu Hamburger **************************  */
.header {
    position: sticky;
    top: 0;
    z-index: 997;
    padding: 1.5rem;
    background-color: #262626;
    color: var(--second-color);
    box-shadow: -3px 0px 20px 0px rgb(0 0 0 /75%);
}

header h1 {
    margin: 0 auto;
    text-align: center;
    font-family: 'Karla', sans-serif;
    letter-spacing: 3px;
    color: #fff;
}

.section {
    width: 100%;
    min-height: 90vh;
    text-align: center;
}

.panel {
    position: fixed;
    z-index: 998;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    overflow-y: auto;
    background-color: var(--second-modal-color);
    transition: transform 1s ease;
    transform: translate(-100%, 0);
}

.panel.is-active {
    transform: translate(0, 0);
}

.panel-btn {
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: 1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 39, 39);

}

.menu {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.menu a {
    padding: 2rem;
    width: inherit;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
}

.menu a:hover {
    font-weight: bold;
    color: #fff;
    background-color: #7c38ad;
}

.hamburger {
    outline: 0;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    background-color: rgb(131, 89, 228);
}


/***   Landing    ***/
.landing-parte_izquierda {
    width: 100%;
    min-height:  44vh;
    background-color: #f2f2f3;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.landing-contenedor-titulos{
    align-self: center;
    margin-left: 20px;
}

.landing-contenedor-titulos h2{
    font-family: 'Lato', sans-serif;
    text-align: left;
    font-size: 2em;
    align-self: center;
}

.landing-contenedor-titulos h2:nth-child(2) {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 42px;
}

.landing-logo{
    align-self: center;
    border:thin solid #6a3093;
    height: auto;
    width: auto;
    border-radius: 10px;
    padding: 20px;
    background-color: #6a3093;
    border: 5px solid rgb(46, 45, 45);
    margin-bottom: 20px;
    animation: show-message 2s 1 normal 0s ease-out both;

}
.landing-logo h3{
    text-align: center;
    line-height: 10px;
    font-family: 'Varela Round', sans-serif;
    font-size: 60px;
    font-stretch: expanded;
    color: #fff;
}
.landing-logo h4{
    color: #fff;
    font-size: 19px;
    font-family: Karla,sans-serif;
}

.landing-parte_derecha {
    background: #6a3093;
    /* fallback for old browsers */
    width: 100%;
    height: 45vh;
    display: flex;
}

.landing-parte_derecha h2 {
    color: #f2f2f2;
    align-self: center;
    margin: auto;
    font-family: 'Varela Round', sans-serif;
    font-size: 35px;
}

/* ************************** Acerca de mi **************************  */

#seccion2 h3 {
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

.contenedor-resumen {
    width: 80%;
    margin: 0px auto 20px;
    background-color: #6a3093;
    padding: 20px;
    border-radius: 20px;
    box-shadow: -3px 0px 20px 0px rgba(0,0,0,0.75);

}
.contenedor-resumen img{
    width: 400px;
    height: 100%;
    border-radius: 10%;
}

.contenedor-resumen h4 {
    color: #f2f2f2;
    padding-bottom: 10px;
    font-size: 23px;
    text-align: left;
}

.contenedor-resumen p{
    color: #fff;
    font-size: 20px;
    text-align: justify;
}
.contenedor-resumen a{
    background-color: #fff;
    border-radius: 8px;
    color: #000;
    font-family: sans-serif;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
.contenedor-resumen a:hover{
    opacity: 0.5;
}

/* ************************** Portafolio **************************  */

#seccion4{
    padding: 0 20px;
}

#seccion4 h3 {
    text-align: center;
    font-size: 30px;
    padding: 20px;
    font-family: 'Lato', sans-serif;
}
.contenedor-portafolio-botones{
    display: flex;
    align-items: center;
    margin: auto;
}
.portafolio-boton {
    width: 180px;
    margin-right: 10px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 30px;
}

.portafolio-boton:hover {
    color: #fff;
    background-color: #6a3093;
}

.portafolio-boton:focus {
    color: #fff;
    background-color: #6a3093;
    border: none;
    outline: 0;
}

.portafolio-boton:active {
    color: #fff;
    background-color: #6a3093;
    border: none;
    outline: 0;
}

.portfolio-card{
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: block;
    transition: all 0.5s ease-out;
}

.portfolio-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-card-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    color: #fff;
    background: hsla(300, 61%, 45%, 0.493);
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease-in-out;
}
.portfolio-card:hover .portfolio-card-info{
    opacity: 1;
    pointer-events: auto;
}

.portfolio-card-info > div{
    padding: 1rem;
    border: thin solid #fff;
    width: 100%;
    height: 100%;
}

/* ************************** Modal **************************  */
.modal{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsla(0, 0%, 0%, 0.513);
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

.modal-content{
    position: relative;
}
.modal-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.modal-close > i{
    font-size: 2rem;
    color: #6a3093;
}

.modal[id|="trabajo"]:target{
    opacity: 1;
    pointer-events: auto;
}

.portfolio-modal{
    padding: 1rem;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    background: #fff;
}
.portfolio-modal h3{
    border-bottom: medium solid #6a3093;
    padding: .5rem 0;
    margin: 1rem auto;
}
.portfolio-details{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-auto-rows: 2rem;
}
.portfolio-details b{
    color: #6a3093;
    font-size: 1rem;
    font-family: var(--main-font) ;
}

.portfolio-modal > img {
    width: auto;
    object-fit: fill;
    height: 300px;
}


/* ************************** Servicios **************************  */

#seccion5 h3 {
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

.contenedor-servicios_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item-servicio {
    margin: 25px auto;
    width: 300px;
    background-color: #f2f2f2;
    height: auto;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.item-servicio i {
    position: relative;
    top: 20px;
    left: 50px;
    font-size: 40px;
    padding: 18px;
    border: 1px solid #000;
    border-radius: 20px 20px 0px 20px;
    background: #b72db7;
    transition: all 0.5s ease-in-out;
}

.item-servicio h4 {
    padding-top: 5px;
    text-align: center;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.item-servicio p {
    font-family: 'Lato', sans-serif;
    width: 250px;
    margin: auto;
    padding-bottom: 15px;
    text-align: center;
}

.item-servicio:hover {
    background: #b72db7;
}
.item-servicio:hover > i{
    background: #f2f2f3;
}


/* ************************** Buscador Portafolio **************************  */

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
    background-color: var(--second-color);
    color: var(--main-color);
    transition: all 0.5s ease-out;
}

.card img {
    width: 100%;
    height: auto;
}

.card figcaption {
    padding: 1rem;
}

.filter {
    display: none;
    visibility: hidden;
    opacity: 0;
    order: 1;
}


@keyframes show-message {
    0% {
        visibility: hidden;
        opacity: 0;

    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

.landing-contenedor_social{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.landing-contenedor_social img {
    width: 50px;
    margin: 20px;
} 
.landing-contenedor_social i{
    width: 50px;
    margin: 20px;
    color: #fff;
    font-size: 50px;
}
.logo-linkedin{	
    background: rgb(255, 255, 255);	
    transition: background;	
    transition-duration: 1s;	
}	
.logo-linkedin:hover{	
    background-color: #6a3093;	
}	
.logo-github{	
    background: rgb(255, 255, 255);	
    border-radius: 50%;	
    transition: background;	
    transition-duration: 1s;	
}	
.logo-github:hover{	
    background:#6a3093;	
} 

/* ************************** Footer & Contacto **************************  */

.linea {
    background-color: #f2f2f2;
    height: 2px;
    width: 60%;
}

.texto-footer {
    text-align: center;
    color: #f2f2f2;
    font-size: 1rem;
  
}

/* Footer */
#seccion6{
    background: #6a3093;
    height: 150px;
}



/* ************************** Barra de Scroll **************************  */
body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: #000;
}

body::-webkit-scrollbar-thumb {
    background-color: #6e4ae49f;
    border-radius: 5px;

}

/* ************************** Portfolio media queries **************************  */
@media screen and (min-width:768px){
    #seccion4{
        display: grid;
        grid-template-columns: repeat(2,50%);
    }
    #seccion4 > h3{
        grid-column: span 2;
    }
    .contenedor-portafolio-botones{
        grid-column: span 2;
    }

    .portfolio-modal{
        flex-direction: row;
        max-width: 800px;
    }
    .portfolio-info{
        margin-left: 1rem;
    }

}


@media screen and (min-width:1024px){
    #seccion4{
        grid-template-columns: repeat(3,1fr);
    }
    #seccion4 > h3{
        grid-column: span 3;
    }
    .contenedor-portafolio-botones{
        grid-column: span 3;
    }
}